{% extends 'base.html.twig' %}

{% block body %}

<h3>Les modèles {{brand.getBrandName()}} que nous vous proposont : </h3>


<h4>La {{brand.getBrandName()}} {{brand.getBrandModel}}, {{brand.getBrandTitle}} !</h4>

{{brand.getBrandHistory}}





{% endblock %}