{% extends 'base.html.twig' %}

{% block body %}

<h3>Les modèles {{brand.getBrandName() | raw }} que nous vous proposont : </h3>


<h4>La {{brand.getBrandName() | raw }} {{brand.getBrandModel | raw }}, {{brand.getBrandTitle | raw }} !</h4>

{{brand.getBrandHistory | raw }}, <img src="{{brand.getBrandImage | raw }}">


<button>Valider</button>


{% endblock %}