{% extends 'base.html.twig' %}

{% block title %} Keman Racing{% endblock %}
{% block body %}

  <section class="post-wrapper-top">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="/">Acceuil</a></li>
          <li>Notre équipe</li>
        </ul>
        <h2>NOTRE ÉQUIPE</h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="Search..." />
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="teammembers">
            <div class="he-wrap tpl2">
              <img src="{{ asset('/assets/img/team_01.png') }}" alt="">
              <div class="he-view">
                <div class="bg a0" data-animate="fadeIn">
                  <div class="center-bar">
                    <a href="https://twitter.com/?lang=fr" class="twitter a0" data-animate="elasticInDown"></a>
                    <a href="https://fr-fr.facebook.com/" class="facebook a1" data-animate="elasticInDown"></a>
                    <a href="https://plus.google.com/discover" class="google a2" data-animate="elasticInDown"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="teammembers-meta">
              <h4>Paul Calfont</h4>
            </div>
            <p>Paul est un ancien pilote de Formule 2, c'est un expert en matière de trajectoire et de réglages auto.</p>
            <small>Expert en Formule 2</small>
            <div class="teamskills">
              <div class="progress">
                <div data-effect="slide-left" class="progress-bar progress-bar-danger" style="width: 90%"><span>Conduite sur piste</span></div>
              </div>
              <div class="progress">
                <div data-effect="slide-left" class="progress-bar progress-bar-danger" style="width: 70%"><span>Trajectoire</span></div>
              </div>
              <div class="progress">
                <div data-effect="slide-left" class="progress-bar progress-bar-danger" style="width: 60%"><span>Réglages véhicule</span></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="teammembers">
            <div class="he-wrap tpl2">
              <img src="{{ asset('/assets/img/team_02.png') }}" alt="">
              <div class="he-view">
                <div class="bg a0" data-animate="fadeIn">
                  <div class="center-bar">
                    <a href="#" class="twitter a0" data-animate="elasticInDown"></a>
                    <a href="#" class="facebook a1" data-animate="elasticInDown"></a>
                    <a href="#" class="google a2" data-animate="elasticInDown"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="teammembers-meta">
              <h4>Christophe Lalonde</h4>
            </div>
            <p>Christophe connait tous les circuits sur le bout des doigts. Son expèrience en DTM vous sera grandement utile.</p>
            <small>Ancien pilote DTM</small>
            <div class="teamskills">
              <div class="progress">
                <div data-effect="slide-left" class="progress-bar progress-bar-danger" style="width: 60%"><span>Conduite sur piste</span></div>
              </div>
              <div class="progress">
                <div data-effect="slide-left" class="progress-bar progress-bar-danger" style="width: 40%"><span>Trajectoire</span></div>
              </div>
              <div class="progress">
                <div data-effect="slide-left" class="progress-bar progress-bar-danger" style="width: 70%"><span>Réglages véhicule</span></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="teammembers">
            <div class="he-wrap tpl2">
              <img src="{{ asset('/assets/img/team_03.png') }}" alt="">
              <div class="he-view">
                <div class="bg a0" data-animate="fadeIn">
                  <div class="center-bar">
                    <a href="#" class="twitter a0" data-animate="elasticInDown"></a>
                    <a href="#" class="facebook a1" data-animate="elasticInDown"></a>
                    <a href="#" class="google a2" data-animate="elasticInDown"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="teammembers-meta">
              <h4>Noémie Poulin</h4>
            </div>
            <p>Notre championne ! Excellente à tous les niveaux, elle vous fera aimer à coups sûr la conduite sportive !</p>
            <small>Pilote d'essai en Formule 1</small>
            <div class="teamskills">
              <div class="progress">
                <div data-effect="slide-left" class="progress-bar progress-bar-danger" style="width: 90%"><span>Conduite sur piste</span></div>
              </div>
              <div class="progress">
                <div data-effect="slide-left" class="progress-bar progress-bar-danger" style="width: 100%"><span>Trajectoire</span></div>
              </div>
              <div class="progress">
                <div data-effect="slide-left" class="progress-bar progress-bar-danger" style="width: 100%"><span>Réglages véhicule</span></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="teammembers">
            <div class="he-wrap tpl2">
              <img src="{{ asset('/assets/img/team_04.png') }}" alt="">
              <div class="he-view">
                <div class="bg a0" data-animate="fadeIn">
                  <div class="center-bar">
                    <a href="#" class="twitter a0" data-animate="elasticInDown"></a>
                    <a href="#" class="facebook a1" data-animate="elasticInDown"></a>
                    <a href="#" class="google a2" data-animate="elasticInDown"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="teammembers-meta">
              <h4>Dominique Bernier</h4>
            </div>
            <p>Dominique est un ancien pilote de Formule 3, il est très rapide sur piste, surtout dans les virages rapides.</p>
            <small>Ancien pilote Formule 3</small>
            <div class="teamskills">
              <div class="progress">
                <div data-effect="slide-left" class="progress-bar progress-bar-danger" style="width: 76%"><span>Conduite sur piste</span></div>
              </div>
              <div class="progress">
                <div data-effect="slide-left" class="progress-bar progress-bar-danger" style="width: 88%"><span>Trajectoire</span></div>
              </div>
              <div class="progress">
                <div data-effect="slide-left" class="progress-bar progress-bar-danger" style="width: 32%"><span>Réglages véhicule</span></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="teammembers">
            <div class="he-wrap tpl2">
              <img src="{{ asset('/assets/img/team_05.png') }}" alt="">
              <div class="he-view">
                <div class="bg a0" data-animate="fadeIn">
                  <div class="center-bar">
                    <a href="#" class="twitter a0" data-animate="elasticInDown"></a>
                    <a href="#" class="facebook a1" data-animate="elasticInDown"></a>
                    <a href="#" class="google a2" data-animate="elasticInDown"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="teammembers-meta">
              <h4>Stéphanie Laux</h4>
            </div>
            <p>Stéphanie est notre dernière recrue, elle vient de finir son championnat du monde d'endurance où elle a finit 5 ème avec son équipe.</p>
            <small>Pilote d'endurance</small>
            <div class="teamskills">
              <div class="progress">
                <div data-effect="slide-left" class="progress-bar progress-bar-danger" style="width: 60%"><span>Conduite sur piste</span></div>
              </div>
              <div class="progress">
                <div data-effect="slide-left" class="progress-bar progress-bar-danger" style="width: 73%"><span>Trajectoire</span></div>
              </div>
              <div class="progress">
                <div data-effect="slide-left" class="progress-bar progress-bar-danger" style="width: 56%"><span>Réglages véhicule</span></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="teammembers">
            <div class="he-wrap tpl2">
              <img src="{{ asset('/assets/img/team_06.png') }}" alt="">
              <div class="he-view">
                <div class="bg a0" data-animate="fadeIn">
                  <div class="center-bar">
                    <a href="#" class="twitter a0" data-animate="elasticInDown"></a>
                    <a href="#" class="facebook a1" data-animate="elasticInDown"></a>
                    <a href="#" class="google a2" data-animate="elasticInDown"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="teammembers-meta">
              <h4>Frank Ferdinand</h4>
            </div>
            <p>Franck est toujours au volant d'un véhicule sur piste, puisqu'il est le pilote officiel de la Safety Car sur les championnats de F1.</p>
            <small>Pilote de safety car</small>
            <div class="teamskills">
              <div class="progress">
                <div data-effect="slide-left" class="progress-bar progress-bar-danger" style="width: 67%"><span>Conduite sur piste</span></div>
              </div>
              <div class="progress">
                <div data-effect="slide-left" class="progress-bar progress-bar-danger" style="width: 77%"><span>Trajectoire</span></div>
              </div>
              <div class="progress">
                <div data-effect="slide-left" class="progress-bar progress-bar-danger" style="width: 43%"><span>Réglages véhicule</span></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="section3">
    <div class="container withpadding">
      <div class="message">
        <div class="col-lg-9 col-md-9 col-sm-9">
          <h3>Grab the attention of your customers!</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since the 1500s..</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <a class="dmbutton button large pull-right" href="#"><i class="fa fa-download"></i> GET A QUOTE</a>
        </div>
      </div>
    </div>
  </section>

  <div class="dmtop">Scroll to Top</div>

  <script src="{{ asset('/lib/jquery/jquery.min') }}"></script>
  <script src="{{ asset('/lib/bootstrap/js/bootstrap.min') }}"></script>
  <script src="{{ asset('/lib/php-mail-form/validate') }}"></script>
  <script src="{{ asset('/lib/prettyphoto/js/prettyphoto') }}"></script>
  <script src="{{ asset('/lib/isotope/isotope.min') }}"></script>
  <script src="{{ asset('/lib/hover/hoverdir') }}"></script>
  <script src="{{ asset('/lib/hover/hoverex.min') }}"></script>
  <script src="{{ asset('/lib/unveil-effects/unveil-effects') }}"></script>
  <script src="{{ asset('/lib/owl-carousel/owl-carousel') }}"></script>
  <script src="{{ asset('/lib/jetmenu/jetmenu') }}"></script>
  <script src="{{ asset('/lib/animate-enhanced/animate-enhanced.min') }}"></script>
  <script src="{{ asset('/lib/jigowatt/jigowatt') }}"></script>
  <script src="{{ asset('/lib/easypiechart/easypiechart.min') }}"></script>
  <script src="{{ asset('/js/main') }}"></script>
{% endblock %}